pandas
numpy
matplotlib
seaborn
langchain
langgraph
openai
langchain-openai
langchain-groq
langchain-community
langchain-core
langchain-anthropic
llama-index
llama-index-retrievers-bm25
python-dotenv
rank-bm25
huggingface_hub
datasets
faiss-cpu
ragas
pinecone
llama-index-vector-stores-pinecone
llama-index-embeddings-openai